<ion-card>
  <ion-card-header>
    <ion-card-title>Genres:</ion-card-title>
    <ion-card-subtitle>{{genres[0]}}, {{genres[1]}},  {{genres[2]}},   </ion-card-subtitle>
  </ion-card-header>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Skills:</ion-card-title>
    <ion-card-subtitle>{{skills[0]}}, {{skills[1]}},  </ion-card-subtitle>
  </ion-card-header>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Materials:</ion-card-title>
    <iframe [src]="materials[0]" width="auto" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </ion-card-header>
</ion-card>


