<ion-card>
  <ion-card-header>
    <ion-card-title>Genres:</ion-card-title>
    <ion-card-subtitle>{{genres[0]}}, {{genres[1]}},  {{genres[2]}},   </ion-card-subtitle>
  </ion-card-header>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Skills:</ion-card-title>
    <ion-card-subtitle>{{skills[0]}}, {{skills[1]}},  </ion-card-subtitle>
  </ion-card-header>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Materials:</ion-card-title>
    <ion-item>https://open.spotify.com/embed/track/5pRFseHNdKQgHAW5MQzCqb </ion-item>
  </ion-card-header>
</ion-card>


