<ion-card>
  <ion-row class="ion-justify-content-center" >
    <ion-col size="6">
      <img src="../../../assets/testPic.jpg" alt="">
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="8">
      <ion-card-header>
        <ion-card-subtitle>Guitar player</ion-card-subtitle>
        <ion-card-title>Vagner</ion-card-title>
      </ion-card-header>
    </ion-col>
  </ion-row >
  <ion-row class="ion-justify-content-center">
    <ion-col size="8">
      <ion-card-content>
        experience: 12 years
      </ion-card-content>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="8">
      <ion-card-content>
        from: Rio de Janeiro
      </ion-card-content>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="8">
      <ion-card-content>
        Genres: Metal, jazz, pop
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-card>

<div class="button-wrapper">
  <button class="choose-button positive">
    <ion-icon size="large" name="thumbs-up-sharp"></ion-icon>
  </button>
  <button class="choose-button negative" >
    <ion-icon name="thumbs-down-sharp" size="large"></ion-icon>
  </button>
</div>
