<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" size="large"></ion-icon>
    <ion-title>Audicyan</ion-title>
    <ion-icon name="ellipsis-vertical-outline" slot="end" size="large"></ion-icon>
  </ion-toolbar>
  <ion-row id="navigation">
    <button [routerLink]="['/home']" routerLinkActive="router-link-active"  name="home">Home</button>
    <button [routerLink]="['/profile']" routerLinkActive="router-link-active"  name="profile">Your Profile</button>
    <button [routerLink]="['/inbox']" routerLinkActive="router-link-active"  name="chat">Chat</button>
  </ion-row>
</ion-header>